.footer {
    text-align: center;
    padding: 20px;
    /* position: relative; */
    /* bottom: 0; */
    /* width: 100%; */
}

.footer-icon {
    margin: 0 15px;
}

.contact-info {
    margin-bottom: 20px;
}

.contact-info p {
    margin: 5px 0;
}