.navbar-vertical {
    flex-basis: 18%;
    height: 100%;
    background-color: #333;
    color: white;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
}

.brand-logo {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
}

.nav-link {
    color: white;
    padding: 10px 15px;
    margin: 5px 0;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    width: 126px;
}

.nav-link i {
    margin-right: 10px;

}

.nav-link:hover {
    background-color: #007bff;
    border-radius: 4px;
}

@media screen and (width < 770px) {}